.l-sidebar {
  background-color: black;
  height: 100vh;
  padding: 100px 25px 0;
  position: fixed;
  min-width: 250px;
  top: 0;
  left: 0;
  transform: translateX(-250px);
  width: 250px;
  z-index: 1;
  transition: 0.2s;
}



.l-sidebar__btn {
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  margin: 20px;
  padding-top: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.l-sidebar--open {
  transition: all .5s;
  transform: translateX(0);

  background-color: black;
  height: 100vh;
  padding: 100px 25px 0;
  position: fixed;
  min-width: 250px;
  top: 0;
  left: 0;
 
  width: 250px;
  z-index: 1;
 
}

.sidebar__item {
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.sidebar__text {
  display: flex;
  font-family: Arial Black, Arial, Helvetica, sans-serif;
  flex-direction: column;
  gap: 25px;
}
.button-Close{
  border: 0;
  cursor: pointer;
  color: #ffff;
  background-color: transparent;
  

}
.button-Close:hover{
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}










